# This is a list of files and directories that git will ignore. This keeps
# the project's commits tidy, because people won't be constantly overwriting
# their own intelij config files into the main repository.

out
.idea
EmeraldElbowWitches.iml
DBv_1/Out/*
DBV_1/testDB
