# This is a list of files and directories that git will ignore. This keeps
# the project's commits tidy, because people won't be constantly overwriting
# their own intelij config files into the main repository.

/*
!/Website
!/Website/*
!/Website/public
!/Website/public/*
!/Website/public/css
!/Website/public/css/*
!/Website/public/img
!/Website/public/img/*
!/Website/
!/src
!/test
!/src/*
!/src/model/docs
!/src/model/docs/*
!/test/*

#edited map csv files should be ignored
/src/model/docs/Nodes.csv
/src/model/docs/Edges.csv