/*   What's needed:
*   ALL ==============================================================================================================
*
*   ZOOM - pressing (+) zooms in, pressing (-) zooms out, dragging the sliding bar also adjusts zoom
*        - clicking and dragging anywhere on map pans across map if zoomed in
*        - defined boundaries at edge of map image (so that the image doesn't fly off the screen)
*   FLOOR - pressing corresponding floor button (L2, L1, G, 1, 2, 3) goes to that floor image
*
*   PATIENT ==========================================================================================================
*
*   LOGIN - pressing login button goes to login menu with username and password
*   HELP TOGGLE - switched on by default, has commands in box below
*   TEXT TOGGLE - switched off by default, turning on (having selected a path) brings up the text directions panel
*
*   ADMIN ============================================================================================================
*
*
*
*/
/*FLOOR NAVIGATION and PANNING BUTTONS STYLE*/
.buttonone {
    -fx-background-color: #4286f4;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}
.buttonone:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.buttonone:pressed, .buttonone:default:hover:pressed {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

/*LOGIN/LOGOUT and CONTEXT BUTTONS*/
.buttontwo{
    -fx-background-color: #1b3766;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}
.buttontwo:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.buttontwo:pressed, .buttonone:default:hover:pressed {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);

}

