/*EASY READER BLACK STYLESHEET*/

.buttonone {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}
.buttonone:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.buttonone:pressed, .buttonone:default:hover:pressed {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

/*LOGIN/LOGOUT and CONTEXT BUTTONS*/
.buttontwo{
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}
.buttontwo:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.buttontwo:pressed, .buttonone:default:hover:pressed {
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);

}
.searchBox {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: white;
}